**/*
**/*.*

!**/
/toy/rust/**/target
/toy/rust/**/target/

!**/.gitignore
!**/.clang-format
!**/.clangd
!**/.clang-tidy
!**/makefile
!**/Makefile
!**/*.conf
!**/*.cfg
!**/*.sh
!**/*.bat
!**/*.ps1
!**/*.txt
!**/*.go
!**/*.gn
!**/*.tex
!**/*.md
!**/*.js
!**/*.ts
!**/*.h
!**/*.hpp
!**/*.hxx
!**/*.c
!**/*.cpp
!**/*.cxx
!**/*.rs
!**/*.json
!**/*.toml
!**/*.yaml
!**/*.html
!**/*.yml
!**/*.tml
!**/*.htm

!/toy/rust/**/Cargo.lock
